@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* color pallete */
:root {
  --color1: #203359;
  --color2: #C2D2F2;
  --color3: #0A1626;
  --color4: #79F297;
  --color5: #60BF78;
}